
.calendar-header {
  margin-top: 0 !important;
  height: 64px;
  background-color: white;

  .day-header-row {
    padding: 0;
  }

  .day-header {
    text-align: center;
    
    .day-label {
      font-weight: bold;
      font-size: 200%;
      color: #888888;
    }
    .wday-label {
      margin-top: 4px;
      color: #aaaaaa;
    }
  }
}

.calendar {
  margin: 0 !important;

  .row {
    padding: 0;
  }

  .time-header {
    z-index: -1;
  }

  .time-label {
    position: absolute;
    font-size: 12px;
    left: 0;
    text-align: right;
    color: gray;
    width: 100%;
    padding-right: 2px;
  }

  .day {
    padding: 0 !important;
    height: 24 * 64px;

    .vertical-line {
      border-left: 1px solid #aaaaaa;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .event {
      position: absolute;
      right: 2px;
      padding: 2px;
      font-size: 12px;
      line-height: 13px;
      border-radius: 3px;
      overflow: hidden;
      background-color: white;
      border: 1px solid;
      z-index: -1;

      &.level-1 {
        width: 90%;
        right: 1px;
      }
      &.level-2 {
        width: 85%;
        right: 3px;
      }
      &.level-3 {
        width: 80%;
        right: 5px;
      }
      &.level-4 {
        width: 75%;
        right: 7px;
      }
    }

    .horizontal-line {
      border-top: 1px solid #eeeeee;
      position: absolute;
      width: 100%;
      height: 1px;
      z-index: -2;
    }
  }
}
