$time-header-width: 40px;
$day-header-height: 64px;

.time-header {
  width: $time-header-width;
  height: $day-header-height;
  position: absolute;
  left: 0;

  .time-label {
    position: absolute;
    font-size: 12px;
    left: 0;
    text-align: right;
    color: gray;
    width: 100%;
    padding-right: 4px;
  }
}

.calendar-header {
  margin: 0 0 0 $time-header-width !important;
  padding: 0 !important;
  height: 64px;
  
  background-color: white;

  .row {
    padding: 0 !important;
  }

  .day-header {
    padding: 0 !important;
    vertical-align: bottom;
    position: relative;

    .day-wrap {
    	position: absolute;
      bottom: 0;
      width: 100%;

      .month-label {
        text-align: center;
        margin-left: -2em;
        font-size: 80%;
        line-height: 90%;
        color: #888888;
      }

      .day-label {
        text-align: center;
        font-weight: bold;
        font-size: 150%;
        color: #888888;
      }

      .wday-label {
        text-align: center;
        margin-top: 4px;
        color: #aaaaaa;
      }
    }
  }
}

.calendar {
  margin: 0 0 0 $time-header-width !important;
  padding: 0 !important;

  .row {
    padding: 0 !important;
  }

  .day {
    padding: 0 !important;
    height: 24 * 64px;

    .vertical-line {
      border-left: 1px solid #aaaaaa;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .event {
      position: absolute;
      right: 2px;
      padding: 2px;
      font-size: 12px;
      line-height: 13px;
      border-radius: 3px;
      overflow: hidden;
      background-color: white;
      border: 1px solid;
      z-index: -1;

      &.level-1 {
        width: 90%;
        right: 1px;
      }
      &.level-2 {
        width: 85%;
        right: 3px;
      }
      &.level-3 {
        width: 80%;
        right: 5px;
      }
      &.level-4 {
        width: 75%;
        right: 7px;
      }
    }

    .horizontal-line {
      border-top: 1px solid #eeeeee;
      position: absolute;
      width: 100%;
      height: 1px;
      z-index: -2;
    }
  }
}
